USE [master]
GO
/****** Object:  Database [STD]    Script Date: 12/08/2012 10:23:28 ******/
CREATE DATABASE [STD] ON  PRIMARY 
( NAME = N'STD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\STD.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\STD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STD]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/08/2012 10:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[GPA] [numeric](18, 2) NULL,
	[Enabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[saveData]    Script Date: 12/08/2012 10:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[saveData]
	@stdName nvarchar(100),
	@stddob datetime,
	@stdgpa numeric,
	@stdstatus bit
AS
BEGIN
	INSERT INTO [STD].[dbo].[Students]
           ([StudentName]
           ,[DOB]
           ,[GPA]
           ,[Enabled])
     VALUES
           (@stdName,@stddob,@stdgpa,@stdstatus)
END
GO
